.footer{
    width: 100%;
    height: 170px;
    background-color: #011121;
    color: white;
    font-family: sans-serif;
}
.contact{
    margin-left: 20px;
}
.para{
    margin-left: 20px;
    
}
.para2{
    height: 40px;
    width: 100%;
    background-color: rgba(84, 84, 87, 0.042);
}
.para3{
    color: black;
    margin-left: 450px;
}